<form name="loginform" class="whiteText" id="{{formId}}">
  <fieldset>
    <legend>{{userType}}</legend>
    <label>Username</label>
    <input class="labelColor" type="text" name="usr" placeholder="username" required="required">
    <label>Password</label>
    <input class="labelColor" type="password" name="pword" placeholder="password" required="required">
    <p id="msg"></p>
    <button id="form-submit" class="button-primary">{{userType}}</button>
  </fieldset>
</form>
<input class="button-primary" type="submit" value="{{buttonValue}}" id="{{buttonId}}">'
